name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main  # Revisa si tu rama se llama 'main' o 'master'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          projectId: findasense-ai-adoption
          channelId: live
